@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
}

<h3>Ürünler</h3>

@{
    int count = 0;
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Ürün Adı</th>
        <th>Fiyatı</th>
        <th>Kategori</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td><img src="@item.ImageUrl" alt="Ürün Resmi" style="width:75px;height:75px"/> </td>
            <td>@item.ProductName</td>
            <td>@item.Price ₺</td>
            <td>@item.Category.CategoryName</td>
            <td>
                <a href="/Admin/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a>
                <a href="/Admin/Product/UpdateProduct/@item.ProductId" class="btn btn-info">Güncelle</a>

            </td>
        </tr>
    }
</table>
<a href="/Admin/Product/CreateProduct" class="btn btn-info">Yeni Ürün Oluştur</a>
